.checked {
    text-decoration: line-through;
}

.itemWrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
    padding: 4px;
    min-height: 20px;
    align-items: center;
    border-radius: 6px;
}

.itemWrapper:hover {
    background-color: var(--g-color-base-selection);
}

.label {
    margin: 0;
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden; 
}

.itemWrapper .deleteButton {
    display: none;
    align-self: flex-start;
}

.itemWrapper:hover .deleteButton {
    display: block;
}